<ul class="nav nav-pills nav-justified">
  <li class="active"><a data-toggle="pill" ng-click="changeOrderStatusView('all')">
    All Orders</a></li>
  <li><a data-toggle="pill" ng-click="changeOrderStatusView('processing')">
    Open Orders</a></li>
  <li><a data-toggle="pill" ng-click="changeOrderStatusView('completed')">
    Completed Orders</a></li>
  <li><a data-toggle="pill" ng-click="changeOrderStatusView('cancelled')" >
    Cancelled Orders</a></li>
</ul>

<hr>

<ul>
  <li class="panel panel-default" ng-repeat="order in user.pastOrderList" ng-show="currentStatus==order.orderStatus || currentStatus=='all'">
    <div class="panel-heading">
      <div class="panel-title order-details">
        <b><span ng-class="{'text-danger':order.orderStatus=='created','text-warning':order.orderStatus=='processing','text-success':order.orderStatus=='completed','text-default':order.orderStatus=='cancelled'}">{{order.orderStatus}}</span></b>
        <span><small>ID# {{order._id}}</small></span>
        <span><small>{{order.date.created}}</small></span>
        <span><b>${{order.totalPrice}}</b></span>
      </div>
    </div>

    <div class="panel-body">
      <ul>
        <li class="media album" ng-repeat="album in order.albums">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-rounded" src="{{album.album.photo}}" height="128" width="128">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{album.album.title}}</h4>
            <span>by {{album.album.artist.name}}</span>
            <div class="row">
              <div class="col-md-4">
                <center>Year: {{album.album.year}}</center>
              </div>
              
              <div class="col-md-4">
               <center> Downloads: <span class="badge">{{album.album.downloads}}</span></center>
              </div>
              <div class="col-md-4">
              <center>Price: ${{album.album.price}}</center>
              </div>
            </div>
            <span>Genres: <button class="btn btn-stackify" ng-repeat="genre in album.album.genre">{{genre.name}}</button></span>

          </div>

          </li>
          <!-- <li class="row album" ng-repeat="album in order.albums" ng-click="">

            <img src="{{album.album.photo}}" class="col-md-3">
            <div class="list-group col-md-9">
              <center><h3><span class="list-group-item album-title">{{album.album.title}}</span></h3></center>

              <center><h4 class="list-group-item">by {{album.album.artist.name}}</h4></center>

              <div class="list-group-item row">
                <div class="col-md-4">
                  <center>Year: {{album.album.year}}</center>
                </div>
                
                <div class="col-md-4">
                 <center> Downloads: <span class="badge">{{album.album.downloads}}</span></center>
                </div>
                <div class="col-md-4">
                <center>Price: ${{album.album.price}}</center>
                </div>
              </div>

              <div class="list-group-item" >
                Genres: <button class="btn btn-stackify" ng-repeat="genre in album.album.genre">{{genre.name}}</button>
              </div>
            </div>
          </li> -->
        </ul>        
     
    </div>
  </li>
</ul>
