<ul class="nav nav-pills nav-justified">
  <li class="active"><a data-toggle="pill" ng-click="changeOrderStatusView('all')">
    All Orders</a></li>
  <li><a data-toggle="pill" ng-click="changeOrderStatusView('processing')">
    Open Orders</a></li>
  <li><a data-toggle="pill" ng-click="changeOrderStatusView('completed')">
    Completed Orders</a></li>
  <li><a data-toggle="pill" ng-click="changeOrderStatusView('cancelled')" >
    Cancelled Orders</a></li>
</ul>

<hr>

<order model="order" ng-repeat="order in user.pastOrderList" ng-show="currentStatus==order.orderStatus || currentStatus=='all'"></order>  

