.container{
	input{
	color:white;
}
}


.white-input{
	background:none;
	border: 1px solid gray;
	padding: 5px;
	margin:5px;
	width: 200px;
	color:white;
}
.checkoutRow{
	border: 2px solid white;
	padding-top: 50px;
	padding-bottom:20px;
}
.preview-cart{
	display:block;
	height:100px;
	margin: 5px;
}

.previewText{
	margin-left: 5px;
}

.checkout-cart{
	height: 60vh;
	overflow:scroll;
}

.order-submit{
	// border: 1px solid #F01358;
	border: none;
	border-radius:1px;
	// background: #F01358;
	background:$stackify-green;
	color: #1D1E25;
	font-size:1.2em;
	font-weight:bold;
	padding: 5px;
}
.checkout {
	a {
		color: white;
	}
	
}
.dropdown{
	background: none;
	border:1px solid gray;

}
h3{
.stackify-green {
	color: $stackify-green; 
}
}


.long-input {
	width:413px;
}
#cvv{
	width:80px;
}
.warning{
	padding-left:5px;
	color:#E9376D;
	letter-spacing: 1px;
	margin: 0;
	margin-bottom:-10px;
}
