order {
  margin: 0 auto;
  @include clearfix;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .order-details {
    display: flex;
    justify-content: space-around;
  }
  .album {
    @include add-border;
    border-radius: 6px;
    .col-md-4 {
      border-right: 1px dotted $stackify-green;
      &:last-of-type {
        border: 0;
      }
    }
  }
}