#profile {
  margin: 0 auto;
  @include clearfix;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .glyphicon-star {
    color: gold;
  }
  .thumbnail {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .list-group-item.active {
    background-color: $stackify-green;
    border-color: $stackify-green;
    font-weight: bold;
  }
  .orders {
    // border-left: 1px solid $border-grey;
    // padding-right: 60px;
    .nav-pills>li {
      &.active > a {
        background: none;
        color: darken($stackify-green, 10%);
      }
      &:hover > a {
        background: none;
        color: $stackify-green;
      }
      a {
        color: grey;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 0;
      }
    }
  }
  // .carousel {
  //   float: right;
  //   width: 55%;
  //   overflow: hidden;
  //   margin: 0 auto;
  //   .carousel-inner {
  //     height: 500px !important;
  //   }
  //   .carousel-control {
  //     background: none;
  //   }
  //   .carousel-indicators {
  //     display: none;
  //   }
  //   img {
  //     max-width: 100%;
  //     max-height: 500px;
  //     display: block;
  //     margin: 0 auto;
  //   }
  // }
}