<!-- <a class="list-group-item" ng-click="edit({album: album})">
	<div class="row">
		<div class="col-xs-6">
			<h3 class="list-group-item-heading">Title: {{album.title}}</h3>
			<hr>
			<p class="list-group-item-text">
				<span>By: {{album.artist.name}}</span>
			</p>
			<p class="list-group-item-text">
				<span>Number of songs: {{album.songs.length}}</span>
			</p>
			<p class="list-group-item-text">
				<span>Year: {{album.year}}</span>
			</p>
		</div>
		<div class="col-xs-6">
			<img ng-src="{{album.photo}}">
		</div>
	</div>
</a> -->

<!-- <a ng-click="edit({album: album})">
<div class="list-group-item">
	<img ng-src="{{album.photo}}">
	<h3 class="list-group-item-heading">Title: {{album.title}}</h3>
	<hr>
	<p class="list-group-item-text">
		<span>By: {{album.artist.name}}</span>
	</p>
	<p class="list-group-item-text">
		<span>Number of songs: {{album.songs.length}}</span>
	</p>
	<p class="list-group-item-text">
		<span>Year: {{album.year}}</span>
	</p>
</div>
</a> -->

<div class="panel panel-primary">
	<div ng-if="admin">
		<button class="btn btn-danger">Delete</button>
		<button class="btn btn-info">Update</button>
	</div>
	<div class="panel-body">
		<img class="elem-thumb" ng-src="{{album.photo}}">
	</div>
	<div class="panel-footer">
		<ul class="list-group">
		    <li class="list-group-item">Title: {{album.title}}</li>
		    <li class="list-group-item">Artist: {{album.artist.name}}</li>
		    <li class="list-group-item">Number of Songs: {{album.songs.length}}</li>
	    </ul>
	</div>
</div>