<br></br>
<div class="col-xs-12">
	<h2>Edit products:
		<button class="btn btn-default" ng-click="toggleCreateCategory()">Create a category (genre)</button>
		<button class="btn btn-default" ng-click="toggleCreateProduct()">Create a product</button>
	</h2>
	<hr>
	<div class="col-sm-6" ng-if="creatingCategory">
		<h2>Make a category!</h2>
		<category-form submit="submitCategory(category)"></category-form>
		<br></br>
	</div>
	<div class="col-sm-6" ng-if="creatingProduct">
		<h2>Make a product!</h2>
		<h2>New <button class="btn btn-default" ng-click="type='song'">Song</button> or <button class="btn btn-default" ng-click="type='album'">Album</button></h2>
		<div ng-if="type==='song'">
			<song-form submit="submitSong(song)"></song-form>
		</div>
		<div ng-if="type==='album'">
			<album-form submit="submitAlbum(album)"></album-form>
		</div>
		<br></br>
	</div>
	<br></br>
</div>


<hr>
<h1>Albums:</h1>
<!-- <album-list albums="albums" admin="true"></album-list> -->
<label>Filter</label>
<input ng-model="albumFilter">
<div class="">
	<ul class="search-list-scroll">
		<li class="search-item-scroll" ng-repeat="album in filteredAlbums = (albums | filter:albumFilter)">
			<album-elem album="album" admin="true" delete="deleteAlbum(album)" update="updateAlbum(album)"></album-elem>
		</li>
	</ul>
</div>

<hr>
<h1>Songs</h1>
<!-- <song-list songs="songs" admin="true"></song-list> -->
<label>Filter</label>
<input ng-model="songFilter">
<div>
	<ul class="search-list-scroll">
		<li class="search-item-scroll" ng-repeat="song in filteredSongs = (songs | filter:songFilter)">
			<song-elem song="song" admin="true" delete="deleteSong(song)" update="updateSong(song)"></song-elem>
		</li>
	</ul>
</div>
