<h1>You're managing products</h1>
<div class="col-xs-12">
	<h2>Edit products</h2>
	<hr>
	<div class="row">
		<div class="col-sm-6">
			<h3><a ng-click="toggleCreateCategory()">Create a category (genre)</a></h3>
		</div>
		<div class="col-sm-6">
			<h3><a ng-click="toggleCreateProduct()">Create a product</a></h3>
		</div>
	</div>
	<div ng-if="creatingCategory">
		<h2>Make a category!</h2>
		<category-form submit="submitCategory(category)"></category-form>
	</div>
	<div ng-if="creatingProduct">
		<h2>Make a product!</h2>
		<h2>New <a ng-click="type='song'">Song</a> or <a ng-click="type='album'">Album</a></h2>
		<div ng-if="type==='song'">
			<song-form submit="submitSong(song)"></song-form>
		</div>
		<div ng-if="type==='album'">
			<album-form submit="submitAlbum(album)"></album-form>
		</div>
	</div>
</div>

<hr>
<h1>Albums:</h1>
<album-list albums="albums" admin="true"></album-list>

<hr>
<h1>Songs</h1>
<song-list songs="songs" admin="true"></song-list>