<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <div class="flex-nav">
            <div><ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <!-- hardcoded for now -->
            <!-- <li>
                <a ui-sref-active="active" ui-sref="discover.list">Discover</a>
            </li> -->
            <li ng-show="user.isSeller">
                <a ui-sref-active="active" ui-sref="upload">Upload</a>
            </li>

            <!-- <li dropdown>
                <a ui-sref-active="active" dropdown-toggle>{{searchCategory.label || 'Search'}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="category in categories">
                        <a ui-sref="{{ category.state }}" ng-click="setSearchCategory(category)">{{ category.label }}</a>
                    </li>
                </ul>
            </li> -->
            <!-- <li ng-show="searchCategory.label">
                <a class="glyphicon glyphicon-search">
                    <input type="text" class="search-text" maxlength="120"
                           placeholder="Search for {{searchCategory.label}}">
                </a>
            </li> -->
            </ul>
            </div>
            <div>
                <form name="searchBar" ng-controller="navbarCtrl" class="search-bar" method="get" ng-submit="submitSearch()">
                    <a ui-sref="search({searchParam:search})" class="glyphicon glyphicon-search"></a>
                    <input type="text" class="search-text" size="40" maxlength="120" ng-model="search" ng-focus="expandSlider()" ng-blur="closeSlider()" placeholder="Search by artist, song or album" ng-change="update(search, !searchBar.$error.required)" required>
                </form>
            </div>
            <div>
                <a ui-sref="cart">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </a>
            </div>
            <div>
                <ul class="nav welcome">
                    <li ng-show="!user">
                        <button ui-sref="login" class="btn login-button">Login</button>
                    </li>
                    <li ng-show="!user">
                        <button ui-sref="signup" class="btn signup-button">Sign up</button>
                    </li>
                    <li ng-show="user">   
                        <a href="#">{{user.email}} <span>&#9660;</span></a>               
                        <ul class="sub-menu">
                            <li><a ui-sref="profile.edit">Profile</a></li>
                            <li><a ui-sref="profile.orderHistory">Order list</a></li>
                            <hr ng-if="isAdmin()">
                            <li ng-if="isAdmin()"><a ui-sref="admin">Privileges</a></li>
                            <hr>
                            <li><a ng-click="logout()">Logout</a></li>
                            
                        </ul>    
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
