#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
  #live-search{
  	background-color:#2E312D;
  	height:500px;
  	width:100%;
  	color:white;
  }
  .search-item {
  	border:1px solid white;
  	width:250px;
  	height:300px;
  	display:inline-block;
  	margin: 10px 10px 90px 10px;
  }
  .search-list {
  	list-style: none;
  	
  }
}

