<a class="list-group-item">
	<div class="row">
		<div class="col-xs-8">
		<!-- <pre>{{order|json}}</pre> -->
			<h4 class="list-group-item-heading">Order for: {{order.user}}</h4>
			<p class="list-group-item-text">
				<span>Total Price: {{order.totalPrice | currency}}</span>
			</p>
		</div>
		<div class="col-xs-3">
			<span>Status: {{order.orderStatus}}</span>
			<p class="list-group-item-text">
				<span>Created: {{order.date.created | date:'short'}}</span>
			</p>
			<p ng-if="order.orderStatus === 'completed'">
				Completed on: {{order.date.finished | date:'short'}}
			</p>
			<p ng-if="order.orderStatus === 'cancelled'">
				Cancelled: {{order.date.finished | date:'short'}}
			</p>
		</div>
	</div>
</a>

