<div class="row">
	<div class="col-sm-8">
		<div class="page-header">
		  <button class="btn btn-success" ng-click="defaultView()">Default View</button>
		  <h1>Store: {{store.name}} <small>owner: {{store.owner.name}}</small></h1>
		</div>
		<ui-view></ui-view>
	</div>

	<div class="col-sm-4 col-xs-12">
		<button ng-click="show='songs'" class="btn btn-primary">Songs</button>
		<button ng-click="show='albums'" class="btn btn-warning">Albums</button>
		<div ng-show="show==='songs'">
			<h2>Songs</h2>
			<label>Filter</label>
			<input ng-model="songFilter">
			<div class="sidebar">
				<div class="list-group" ng-repeat="song in filteredSongs = (store.songs | filter:songFilter)">
					<song-elem song="song" admin="false" edit="songView(song)"></song-elem>
				</div>
			</div>
		</div>
		<div ng-show="show==='albums'">
			<h2>Albums</h2>
			<label>Filter</label>
			<input ng-model="albumFilter">
			<div class="sidebar">
				<div class="list-group" ng-repeat="album in filteredAlbums = (store.albums | filter:albumFilter)">
					<album-elem album="album" admin="false" edit="albumView(album)"></album-elem>
				</div>
			</div>
		</div>
	</div>

</div>