<div class="row">
    <div class="col-sm-12">
        <form id="login-form" name="infoForm" ng-submit="infoForm.$valid && sendInfo(info)">
            
            <h2>Additional Info</h2>
            
            <alert type="danger" ng-show="error">
                {{ error }}
            </alert>

            <div class="form-group">
                <label for="email">Are you a musician?</label>
                <input type="text" ng-model="info.isSeller" class="form-control" id="isSeller" placeholder="Yes or no">
            </div>
            <div class="form-group">
                <label for="info-password">If so, what is your stage / band name?</label>
                <input type="text" ng-model="info.artistName" class="form-control" id="artistName" placeholder="You know what I mean">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>