<div class="row test">
	<div class="col-lg-8 col-centered">
		<div class="col-lg-8 box">
			<button class="btn btn-primary" ui-sref="discover.list">Return to List View</button>
			<h2>{{song.title}}</h2>
			<h3>Artist: <a ui-sref="artist({name:artist.name, id:artist._id})">{{song.artist.name}}</a></h3>
			<h4>Album: <a ui-sref="album({id:album._id})">{{song.album.title}}</a></h4>
			<img src="{{album.photo}}">
			<br>
			<button class="buyButton" ng-click="openModal()">Buy Song</button>
			<h4>${{song.price}}</h4>
			<div class="player-container">
				<div id="player"></div>
			</div>
		</div>

		<div class="col-lg-4">
			<h2>Discography for: {{song.artist.name}}</h2>
			<ul>
				<li ng-repeat="album in artist.albums">{{song.album.title}}</li>
			</ul>
		</div>
		
		<div class="col-sm-12">
			<hr>
			<h2>Reviews</h2>
			<review-list reviews="song.reviews"></review-list>
		</div>
	</div>
</div>
