<ul>
  <li class="panel panel-default" >
    <div class="panel-heading">
      <div class="panel-title flex-nav">
        <b><span ng-class="{'text-danger':order.orderStatus=='created','text-warning':order.orderStatus=='processing','text-success':order.orderStatus=='completed','text-default':order.orderStatus=='cancelled'}">{{order.orderStatus}}</span></b>
        <span><small>ID# {{order._id}}</small></span>
        <span><small>{{order.date.created}}</small></span>
        <span><b>${{order.totalPrice}}</b></span>
      </div>
    </div>

    <div class="panel-body">
      <ul>
        <li class="media album" ng-repeat="album in order.albums">
          <div class="media-left">
            <a ui-sref="album({id:album.album._id})" >
              <img class="media-object img-rounded" src="{{album.album.photo}}" height="173" width="173">
            </a>
          </div>
          <div class="media-body ">
            <ul class="list-group">
              <li class="list-group-item">
                <a ui-sref="album({id:album.album._id})" >
                  <h4 class="media-heading">{{album.album.title}}</h4></a>
              </li>
              <li class="list-group-item">by 
                <a ui-sref="artist({name: album.album.artist.name, id: album.album.artist._id})">  
                  <span>{{album.album.artist.name}}</span>
                </a>
              </li>
              <li class="list-group-item">  
              <div class="row">
              <div class="col-md-4">
                <center>Year: {{album.album.year}}</center>
              </div>
              <div class="col-md-4">
               <center> Downloads: <span class="badge">{{album.album.downloads}}</span></center>
              </div>
              <div class="col-md-4">
              <center>Price: ${{album.price}}</center>
              </div>
            </div>
          </li>
          <li class="list-group-item">
          <span>Genres: <button class="btn btn-genre" ng-repeat="genre in album.album.genre">{{genre.name}}</button></span></li>
          </ul>
          </div>
          <div class="media-right" ng-show="order.orderStatus=='created'">
            <button class="btn btn-danger btn-xl glyphicon glyphicon-remove" ng-click="removeAlbum(album._id)">
              <!-- <span class="glyphicon glyphicon-remove"></span> -->
            </button>
          </div>
        </li>

        <li class="media album" ng-repeat="song in order.songs">
          <div class="media-left">
            <a ui-sref="song({id:song.song._id})">
              <img class="media-object img-rounded" src="{{song.song.photo}}" height="173" width="173">
            </a>
          </div>
          <div class="media-body">
          <ul class="list-group">
            <li class="list-group-item">
            <a ui-sref="song({id:song.song._id})">
              <h4 class="media-heading">{{song.song.title}}</h4></a></li>
            <li class="list-group-item">by 
            <a ui-sref="artist({name: song.song.artist.name, id: song.song.artist._id})"> 
              <span>{{song.song.artist.name}}</span></a></li>
            <li class="list-group-item"> 
            <div class="row">
              <div class="col-md-4">
                <center>Year: {{song.song.album.year}}</center>
              </div>
              
              <div class="col-md-4">
               <center> Downloads: <span class="badge">{{song.song.downloads}}</span></center>
              </div>
              <div class="col-md-4">
              <center>Price: ${{song.price}}</center>
              </div>
            </div>
          </li>
          <li class="list-group-item"> 
            <span>Genres: <button class="btn btn-genre" ng-repeat="genre in song.song.album.genre">{{genre.name}}</button></span></li>
          </ul>
          </div>
          <div class="media-right" ng-show="order.orderStatus=='created'" >
          <button class="btn btn-danger btn-xl" ng-click="removeSong(song._id)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          </div>
        </li>
      </ul>        
    </div>
  </li>
</ul>