.collection-item {
  border:2px solid white;//$stackify-green;
  white-space:normal;
  vertical-align:top;
  width:250px;
  height:350px;
  display:inline-block;
  margin: 10px 10px 30px 10px;
  background-color: #14191B;//white;
  border-radius:1px;
  a{
    color:white;//$stackify-green;
  }
}
  