<div class="row">
	<div class="col-xs-12 page-header">
		<h2>{{album.title}} <small>by {{album.artist.name}}</small>
			<button class="btn btn-primary" ng-click="defaultAlbum()">All songs</button>
			<button class="btn btn-danger" ng-click="deleteAlbum()">Delete Album</button>
			<button class="btn btn-default" ng-click="toggleCreateSong()">Add song to album</button>
		</h2>
	</div>
	<div class="col-sm-6">
		<div ng-show="createSong">
			<song-form submit="submitSong(song)"></song-form>
			<hr class="stack-hr">
		</div>
		<ui-view></ui-view>
	</div>
	<div class="col-sm-6">
		<img style="width:100%" ng-src="{{album.photo}}">
	</div>
</div>