<div class="item-content-scroll-song elem" ng-click="edit({song:song})">
	<div ng-if="admin">
		<div class="btn-group">
			<button type="button" class="btn btn-warning dropdown-toggle admin-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Admin Actions <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li>
					<a ng-click="delete({song:song})">Delete</a>
				</li>
				<li>
					<a ng-click="update({song:song})">Update</a>
				</li>
			</ul>
		</div>
	</div>
	<div>
		<div>
			<img class="search-photo" src="{{song.album.photo}}" width="200">
		</div>
		<div>
			<ul class="list-group elem-list">
				<li>
					<a class="album-link" ui-sref="song({id:song._id})">Title: {{song.title}}</a>
				</li>
				<li>
					<a class="artist-link" ui-sref="artist({name: song.artist.name, id: song.artist._id})">Artist: {{song.artist.name}}</a>
				</li>
				<li>
					<a class="album-link" ui-sref="album({id:song.album._id})">Album: {{song.album.title}}</a>
				</li>
				<li>
					<a class="album-link">Genre: {{song.genre.name}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>