<div class="panel panel-primary" ng-click="edit({song:song})">
	<div ng-if="admin">
		<div class="btn-group">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Admin Actions <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <li>
				<a ng-click="delete({song:song})">Delete</a>
		    </li>
		    <li>
				<a ng-click="update({song:song})">Update</a>
		    </li>
		  </ul>
		</div>
	</div>
	<div class="panel-body">
		<img class="elem-thumb" ng-src="{{song.album.photo}}">
	</div>
	<div class="panel-footer">
		<ul class="list-group">
		    <a class="list-group-item" ui-sref="song({id: song._id})">
		    	<li>Title: {{song.title}}</li>
		    </a>
		    <a class="list-group-item" ui-sref="artist({name: song.artist.name, id: song.artist._id})">
		    	<li>Artist: {{song.artist.name}}</li>
		    </a>
		    <a class="list-group-item" ui-sref="album({id:song.album._id})">
		    	<li>Album: {{song.album.title}}</li>
		    </a>
	    </ul>
	</div>
</div>