<div class="row">
	<div class="col-sm-8">
			<div class="page-header">
			  <h1>Store: {{store.name}} <small>owner: {{user.name}}</small></h1>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h2>Description:</h2>
					<hr>
					<p>{{store.description}}</p>
				</div>
				<div class="col-sm-6">
					<div class="col-sm-6">
					<h2>Other stuff:</h2>
					<hr>
					<p>Something else goes here</p>
				</div>
				</div>
			</div>
	</div>

	<div class="col-sm-4 col-xs-12">
			<button ng-click="show='songs'" class="btn btn-primary">Songs</button>
			<button ng-click="show='albums'" class="btn btn-warning">Albums</button>
		<div ng-show="show==='songs'">
			<h2>Songs</h2>
			<label>Filter</label>
			<input ng-model="songFilter">
			<div class="sidebar">
				<div class="list-group" ng-repeat="song in filteredSongs = (store.songs | filter:songFilter)">
					<song-elem song="song" admin="false"></song-elem>
				</div>
			</div>
		</div>
		<div ng-show="show==='albums'">
			<h2>Albums</h2>
			<label>Filter</label>
			<input ng-model="albumFilter">
			<div class="sidebar">
				<div class="list-group" ng-repeat="album in filteredAlbums = (store.albums | filter:albumFilter)">
					<album-elem album="album" admin="false"></album-elem>
				</div>
			</div>
		</div>
	</div>

</div>