<!-- <pre>{{user|json}}</pre> -->
<div class="container">
	<div class="page-header">
	  <h1>Store: {{store.name}} <small>owner: {{user.name}}</small></h1>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h2>Albums</h2>
			<label>Filter</label>
			<input ng-model="albumFilter">
			<div ng-repeat="album in filteredAlbums = (store.albums | filter:albumFilter)">
				<album-elem album="album" admin="false"></album-elem>
			</div>
		</div>
		<div class="col-sm-6">
			<h2>Songs</h2>
			<label>Filter</label>
			<input ng-model="songFilter">
			<div ng-repeat="song in filteredSongs = (store.songs | filter:songFilter)">
				<song-elem song="song" admin="false"></song-elem>
			</div>
		</div>
	</div>
	<pre>{{store|json}}</pre>
</div>