$border-grey: #dddddd;
$stackify-green: #00f482; 
// #DF2B30

* {
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  // background:#181919;
  font-family: 'PT Sans', sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin add-border {
  border: 1px solid $border-grey;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}

#main {
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.sidebar {
  overflow-y: scroll;
  height: calc(100vh - 300px);
}

textarea.form-control {
  resize: vertical;
}

#home {
  background-image: url('/music-background.jpg');
  // background-color: black;
  background-size: cover;
  // background-repeat: repeat;
}

@import "directives/main";
@import "home/main";
@import "user/main";
@import "tutorial/main";
@import "login/main";
@import "products/song";