$border-grey: #dddddd;
$stackify-green: #00f482;

// #DF2B30

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #14191B;
  // background:#181919;
  // font-family: 'PT Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin add-border {
  border: 1px solid $border-grey;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}

#main {
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #1D1E25;
  color: white;
  min-height: calc(100% - 100px - 50px);
}

.flex-nav {
  display: flex;
  justify-content: space-around;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.sidebar {
  overflow-y: scroll;
  height: calc(100vh - 300px);
  ul {
    list-style: none;
  }
}

.btn-stackify {
  background-color: darken($stackify-green, 5%);
  color: white;
  border: 1px solid darken($stackify-green, 10%);
  &:hover {
    background: darken($stackify-green, 10%);
  }
}

textarea.form-control {
  resize: vertical;
}

// #home {
//   background-image: url('/music-background.jpg');
//   // background-color: black;
//   background-size: cover;
//   // background-repeat: repeat;
// }

.search-list-scroll {
  list-style: none;
  color:white;
  white-space:nowrap;
  overflow-x:scroll;
  a {
    color:white;
  }
}

.search-item-scroll {
  li {
    overflow-x: scroll;
  }
  white-space:normal;
  vertical-align:top;
  width:250px;
  display:inline-block;
  margin: 10px 10px 90px 10px;
  background-color: #14191B;
  border-radius:1px
}

.item-content-scroll {
  padding: 25px;
  height: 400px;
}

.item-content-scroll-song {
  padding: 25px;
  height: 450px;
}

.elem-thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.review {
  list-style: none;
}

.review-thumb {
  width: 175px;
  height: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.stackify-form {
  width: 60%;
  margin: 0 auto;
}

.elem {
  border: 1px solid $stackify-green;
  border-radius: 10px;
}

.elem-list {
  li {
    overflow-x: scroll;
  }
}

.stack-hr {
  color: $stackify-green;
}

.order-select {
  width: 100px;
  color: black;
}

.admin-btn {
  margin-bottom: 15px;
}

.admin-nav {
  color: white;
}

.discover-header {
  margin-bottom: 24px;
}

.left {
  margin-top: 5px;
  float: left;
}
.right {
  float: right;
}

@import "directives/main";
@import "home/main";
@import "user/main";
@import "tutorial/main";
@import "login/main";
@import "signup/main";
@import "products/song";
@import "slick/slick";
@import "collection/main";
