.test{
	// background-color:#252d30;
  background-color:white;
	color:#14191B;
	a {
		color:#14191B;
	}
  padding-top:50px;
}
.box{
  border: 1px solid #14191B;
}
.Modal-holder {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: transparent;
  background-color: #242D30;
  z-index: 2;
  padding: 30px 15px;
}

.modal-content{
  // background-color: ;
}


.center-modal {
  position: fixed;
  top: 25%;
  left: 18.5%;
  z-index: 1050;
  width: 80%;
  height: 100%;
  margin-left: -10%;
}

.buttons {
	border-radius: 2px;
	border: 1px solid #00F67D;
	color: #00F67D;
	background-color: #FFFFFF;
	font-weight:bold;
}
.buyButton {
  border: 1px solid #14191B;
  background:#14191B;
  color:white;
  margin-top: 20px;
}
