.test{
	// background-color:#252d30;
  background-color:#1D1E25;
	color:white;
	a {
		color:white;
	}
}
#songInfo{
  width:490px;
  margin:none;
  float:left;
}
.box{
  border: 3px solid #ECECEC;
  padding:20px;
}
.Modal-holder {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: transparent;
  background-color: #242D30;
  z-index: 2;
  padding: 30px 15px;
}
.songContainer{
  text-align:center;
}
.songContent{
  text-align:left;
}
.modal-content{
  // background-color: ;
}
.mycol12{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width:850px;
  // float: left;
  margin: auto;
  display: inline-block;
  // height: 80vh;
}

.center-modal {
  position: fixed;
  top: 25%;
  left: 18.5%;
  z-index: 1050;
  width: 80%;
  height: 100%;
  margin-left: -10%;
}

.buttons {
	border-radius: 2px;
	border: 1px solid #00F67D;
	color: #00F67D;
	background-color: #FFFFFF;
	font-weight:bold;
}
.buyButton {
  border: 1px solid white;
  padding:5px;
  background:white;
  color:#1D1E25 ;
  font-size:1.6em;
  &:hover {
    // background:gray;
    // color:white;
    // border: 1px solid white;
  }
}
