<div class="container checkout">
	<div class="row checkoutRow">
		<div class="col-lg-10 col-centered">
			<div class="col-lg-8">
				<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
				Your Account / <a ui-sref="cart">Cart</a> / Checkout 

				<h1>Check Out</h1>
				<hr>
				<br>
				<p>Payment Method</p>
				
				<input name="cardInput" type="text" placeholder="Card #" class="white-input long-input" required>
				<p ng-show="submitted && !cardInput.$valid && !goodToGo" class="warning" >Invalid card</p>
				<br>
				<select class="dropdown">
					<option>01 - January</option>
					<option>02 - February</option>
					<option>03 - March</option>
					<option>04 - April</option>
					<option>05 - May</option>
					<option>06 - June</option>
					<option>07 - July</option>
					<option>08 - August</option>
					<option>09 - September</option>
					<option>10 - October</option>
					<option>11 - November</option>
					<option>12 - December</option>
				</select>

				<select class="dropdown">
					<option>2015</option>
					<option>2016</option>
					<option>2017</option>
					<option>2018</option>
					<option>2019</option>
					<option>2020</option>
					<option>2021</option>
					<option>2022</option>
					<option>2023</option>
					<option>2024</option>
					<option>2025</option>
				</select>
				
				<input type="text" placeholder="CVV" class="white-input" id="cvv">
				<br>
				Billing Information
				<br>
				<input class="white-input" type="text" placeholder="First Name" required>
				<input class="white-input" type="text" placeholder="Last Name" required>
				<input class="white-input long-input" type="text" placeholder="Address 1" required>
				<input class="white-input long-input" type="text" placeholder="Address 2">
				<input class="white-input" type="text" placeholder="ZIP" required>
				<input class="white-input" type="text" placeholder="City" required>
				<input class="white-input" type="text" value="United States" required>
				<input class="white-input" type="text" placeholder="State">
				<input name="emailForm" ng-model="email" class="white-input long-input" type="email" placeholder="Email" required>
				<p ng-model="custEmail" ng-show="submitted && !emailForm.$valid && !goodToGo" class="warning">Invalid email</p>
				
				<br><br><br>
				<button ng-click="submit()" type="submit" class="order-submit pull-left"><h4>Submit Order ></h4></button>
				<div ng-show="submitSuccess" class="pull-left">
					<img src="loader.gif" width="100px"> Processing your order...
				</div>
			</form>
			</div>
			<div class="col-lg-4">
				Cart
				<div class="checkout-cart">
				<ul>
					<li ng-repeat="song in cart.songs" class="preview-cart">
						<img width="100" class="pull-left" src="{{song.song.photo}}">
						<div class="previewText">
							<a ui-sref="artist({name: song.song.artist.name, id: song.song.artist._id})"><p>{{song.song.artist.name}}</p></a>
							<a ui-sref="song({id:song.song._id})"><p>{{song.song.title}}</p></a>
							<p>{{song.song.price | currency}}</p>
						</div>
						
					</li>
					<li ng-repeat="album in cart.albums" class="preview-cart">
						<img width="100" class="pull-left" src="{{album.album.photo}}">
						<div class="previewText">
							<a ui-sref="artist({name: album.album.artist.name, id: album.album.artist._id})"><p>{{album.album.artist.name}}</p></a>
							<a ui-sref="album({id:album.album._id})"><p>{{album.album.title}}</p></a>
							<p>{{album.album.price | currency}}</p>
						</div>
						
					</li>
				</ul>	
				</div>

					

				<br>
				<div>
					<hr>
					<h2><p>Total: {{cart.totalPrice | currency}}</p></h2>
				</div>
			</div>
		</div>
		
	</div>
</div>
