#profile {
  margin: 0 auto;
  padding-top: 60px;
  @include clearfix;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .orders {
    // border-left: 1px solid $border-grey;
    padding: 0 0 0 40px;
    h1 {
      margin: 0;
      padding: 0 0 15px;
    }
    .orders-bar {
      margin: 20px;
      .col-md-3 {
        text-align: center;
        border-right: 1px solid grey;
        &:last-of-type {
          border: 0;
        }
      }
      //   display: table;
      //   width: 100%;
      //   // table-layout: fixed;
      //   text-align: center;
      //   li {
      //     // list-style-type: none;
      //     display: table-cell;
      //     // text-align: center;
      //     a {
      //       display: inline-block;
      //       margin: 0 5px;
      //       text-align: center;
      //     }
      //     &:before {
      //       content: " | ";
      //     }
      //     &:first-child:before {
      //       content: none;
      //     }
      //   }
   
    }
  }
  .status {
    font-size: 18px;
    padding: 10px;
  }
  .order-details {
    margin: 10px 40px 0 20px;
    display: inline-block;
  }
  .album {
    display: block;
    margin: 0 20px 20px;
    border: 1px solid $border-grey;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    border-radius: 4px;
    img {
      margin: 0;
      padding: 0;
    }
    .list-group {
      padding: 0;
    }
    .list-group-item {
      margin: 0;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid $border-grey;
    }
    .album-title {
      background: $stackify-green;
      color: white;
    }
    .col-md-4 {
      border-right: 1px solid $border-grey;
      &:last-of-type {
        border: 0;
      }
    }
  }
  // p {
  //   width: 40%;
  //   margin: 0 auto;
  //   text-align: justify;
  //   font-size: 22px;
  //   font-weight: 300;
  //   float: left;
  // }
  // .carousel {
  //   float: right;
  //   width: 55%;
  //   overflow: hidden;
  //   margin: 0 auto;
  //   .carousel-inner {
  //     height: 500px !important;
  //   }
  //   .carousel-control {
  //     background: none;
  //   }
  //   .carousel-indicators {
  //     display: none;
  //   }
  //   img {
  //     max-width: 100%;
  //     max-height: 500px;
  //     display: block;
  //     margin: 0 auto;
  //   }
  // }
}