<form role="form" name="albumForm" ng-submit="submit({album:newAlbum})">
	<h3>New Album
		<span ng-if="admin">
			<a ng-hide="newArtist" class="btn btn-default" ng-click="toggleNewArtist()">New Artist</a>
			<a ng-hide="oldArtist" class="btn btn-default" ng-click="toggleOldArtist()">Existing Artist</a>
		</span>
	</h3>
	<div class="form-group">
		<label>Album Title</label>
		<input name="title" type="text" class="form-control" ng-model="newAlbum.title" placeholder="What should it be called">
	</div>
	<div class="row">
		<div ng-if="admin" class="col-sm-6 col-xs-6 form-group">
			<div ng-if="oldArtist">
				<label>Existing Artist</label>
				<select class="form-control" ng-model="newAlbum.artist" required>
					<option ng-repeat="artist in artists">{{artist.name}}</option>
				</select>
			</div>
			<div ng-if="newArtist">
				<label>New Artist</label>
				<input class="form-control" ng-model="newAlbum.artist" required>
			</div>
		</div>
		<div class="col-sm-3 col-xs-3 form-group">
			<label>Genre</label>
			<select class="form-control" ng-model="newAlbum.genre" required>
				<option ng-repeat="genre in genres">{{genre.name}}</option>
			</select>
		</div>
		<div class="col-sm-3 col-xs-3 form-group">
			<label>Year</label>
			<input name="year" type="number" class="form-control" ng-model="newAlbum.year" required>
		</div>
		<div class="col-sm-8 col-xs-8 form-group">
			<label>Photo</label>
			<input name="page_title" type="text" class="form-control" ng-model="newAlbum.photo" placeholder="album cover photo (has default)">
		</div>
		<div class="col-sm-4 col-xs-8 form-group">
			<label>Price</label>
		    <div class="input-group">
		      <div class="input-group-addon">$</div>
		      <input type="text" class="form-control" ng-model="newAlbum.price" placeholder="Amount" required>
		    </div>
		</div>
	</div>
	<button class="btn btn-primary" type="submit">Submit</button>
</form>