<form id="reset-form" name="resetForm" ng-submit="resetForm.$valid && resetPassword(login, reset)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="reset-password">Re-enter your email</label>
        <input type="email" ng-model="login.email" class="form-control" id="login-email" placeholder="Email">
    </div>

    <div class="form-group">
        <label for="reset-password">Old Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Old password">
    </div>

    <div class="form-group">
        <label for="reset-password">New Password</label>
        <input type="password" ng-model="reset.password" class="form-control" id="reset-password" placeholder="New password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>